{% extends 'base.html' %}

{% block content %}

<form class="container mt-4 mb-4" method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="row gy-2 mb-4">
        <div class="form-group">
            {{ form.username }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <div class="invalid-feedback d-block">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback d-block">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}